
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    transition: 0.4s;
}
.navbar{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 20;
    opacity: 0.8;


}

.navbar .logo-and-name{

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px;

}

.navbar .logo-and-name #tkLogo{
    width: 36px;
    height: 36px;
}

.navbar .logo-and-name #tk-text{
    font-family: 'Ceviche One', cursive;
    font-size: 24px;
}

.navbar .menu #menu-ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    position: relative;
    right: 50px;

}

.navbar .menu #menu-ul .menu-li{
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 7px 15px;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
    color: black;

}

.navbar .menu #menu-ul #sign-up{
    background-color: #608AF5;
    color: white;
    border-radius: 4px;
    width: 130px;
}

.navbar .menu #menu-ul #sign-up:hover{
    background-color:#4976e9;
}

#hamburgerMenu{
    width: 32px;
    height: 32px;
    position: relative;
    right: 50px;
    top: -5px;
    display: none;
    cursor: pointer;
    z-index: 50;
}

.mobile-menu{
    width: 550px;
    height: 550px;
    border-radius: 100%;
    background-color: #4976e9;
    position: absolute;
    top: -100px;
    right: -100px;
    animation-name: mobileMenuOpenAnimation;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    transition: 0.5s animation;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu #menu-ul-mobile{
    list-style-type: square;
    font-size: 22px;
    text-align: left;
    color: white;
}
.mobile-menu #menu-ul-mobile .menu-li-mobile{
    margin-top: 10px;
}

@keyframes mobileMenuOpenAnimation {
    from{
        width: 0px;
        height: 0px;
    }
    to{
        width: 550px;
        height: 550px;
    }
}



@media only screen and (max-width: 1000px) {
    .navbar{
        width: 100%;
    }
    .navbar .menu #menu-ul{
        flex-direction: column;
        display: none;
    }

    #hamburgerMenu{
        display: block;
        right: 80px;
    }
}

@media only screen and (max-width: 500px) {
    .navbar .logo-and-name{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 30px;
    }
}